In [1]:
import pandas as pd
import numpy as np
import matplotlib as plots

In [9]:
p_05 = pd.read_csv("college_stats/player_05.csv")
p_06 = pd.read_csv("college_stats/player_06.csv")
p_07 = pd.read_csv("college_stats/player_07.csv")
p_08 = pd.read_csv("college_stats/player_08.csv")
p_09 = pd.read_csv("college_stats/player_09.csv")
p_10 = pd.read_csv("college_stats/player_10.csv")
p_11 = pd.read_csv("college_stats/player_11.csv")
p_12 = pd.read_csv("college_stats/player_12.csv")
p_13 = pd.read_csv("college_stats/player_13.csv")
ps_05 = pd.read_csv("college_stats/player-game-statistics_05.csv")
ps_06 = pd.read_csv("college_stats/player-game-statistics_06.csv")
ps_07 = pd.read_csv("college_stats/player-game-statistics_07.csv")
ps_08 = pd.read_csv("college_stats/player-game-statistics_08.csv")
ps_09 = pd.read_csv("college_stats/player-game-statistics_09.csv")
ps_10 = pd.read_csv("college_stats/player-game-statistics_10.csv")
ps_11 = pd.read_csv("college_stats/player-game-statistics_11.csv")
ps_12 = pd.read_csv("college_stats/player-game-statistics_12.csv")
ps_13 = pd.read_csv("college_stats/player-game-statistics_13.csv")

In [10]:
nfl_game_logs = pd.read_csv("nfl_stats/Game_Logs_Quarterback.csv")
nfl_passing = pd.read_csv("nfl_stats/Career_Stats_Passing.csv")
nfl_basic_stats = pd.read_csv("nfl_stats/Basic_Stats.csv")

In [11]:
combined_p = pd.concat([p_05, p_06, p_07, p_08, p_09, p_10, p_11, p_12, p_13])
combined_p = combined_p[["Player Code", "Team Code", "Last Name", "First Name", "Uniform Number", "Class", "Position", "Height", "Weight", "Home State"]]
combined_p.head(5)

,Player Code,Team Code,Last Name,First Name,Uniform Number,Class,Position,Height,Weight,Home State
0,85454,5,Alleman,Andy,57,JR,OL,NaN,NaN,NaN
1,85455,5,Allen,Alex,3A,FR,RB,NaN,NaN,NaN
2,85456,5,Alphonse,Michael,52,FR,LB,NaN,NaN,NaN
3,85457,5,Anderson,Brandon,28,FR,DB,NaN,NaN,NaN
4,85458,5,Anderson,Zack,78,FR,OL,NaN,NaN,NaN

In [12]:
combined_ps = pd.concat([ps_05, ps_06, ps_07, ps_08, ps_09, ps_10, ps_11, ps_12, ps_13])
combined_ps = combined_ps.drop(columns = "Game Code")
combined_ps.head(5)

,Player Code,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,Pass TD,Pass Int,Pass Conv,...,Tackle Solo,Tackle Assist,Tackle For Loss,Tackle For Loss Yard,Sack,Sack Yard,QB Hurry,Fumble Forced,Pass Broken Up,Kick/Punt Blocked
0,85454,0,0,0,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
1,85454,0,0,0,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
2,85454,0,0,0,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
3,85454,0,0,0,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0
4,85454,0,0,0,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,0

In [13]:
len(combined_p), len(combined_ps)

(182240, 503806)

In [14]:
combined_ps = combined_ps.groupby(['Player Code']).sum()

In [15]:
merged = combined_p.merge(combined_ps, on = "Player Code")
merged_college = merged.drop_duplicates(subset = "Player Code", keep = "last")
merged_college

,Player Code,Team Code,Last Name,First Name,Uniform Number,Class,Position,Height,Weight,Home State,...,Tackle Solo,Tackle Assist,Tackle For Loss,Tackle For Loss Yard,Sack,Sack Yard,QB Hurry,Fumble Forced,Pass Broken Up,Kick/Punt Blocked
1,85454,5,Alleman,Andy,57,SR,OL,NaN,NaN,NaN,...,0,0,0.0,0,0.0,0,0,0,0,0
7,85455,5,Allen,Alex,10,SR,RB,72.0,210.0,OH,...,2,1,0.0,0,0.0,0,0,0,0,0
11,85457,5,Anderson,Brandon,1,SR,DB,71.0,175.0,VA,...,74,34,2.0,8,1.0,7,0,1,17,0
16,85458,5,Anderson,Zack,78,SR,OL,76.0,310.0,PA,...,0,0,0.0,0,0.0,0,0,0,0,0
19,62905,5,Arthur,Jabari,12,SR,WR,76.0,225.0,QC,...,3,2,0.0,0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119874,1059564,2678,Young,Jeremiah,32,FR,RB,NaN,NaN,NaN,...,1,0,0.0,0,0.0,0,0,0,0,0
119875,1059647,2915,Colvin,Nick,89,FR,WR,NaN,NaN,NaN,...,0,0,0.0,0,0.0,0,0,0,0,0
119876,1059629,2915,Harden,Octavius,33,SO,HB,NaN,NaN,NaN,...,0,0,0.0,0,0.0,0,0,0,0,0
119877,1059640,2915,Long,Lorenzo,7,FR,RB,NaN,NaN,NaN,...,0,0,0.0,0,0.0,0,0,0,0,0
119878,1059641,2915,Wahrby,Anton,77,FR,OL,NaN,NaN,NaN,...,0,0,0.0,0,0.0,0,0,0,0,0